version: '3.6'

services:
  db:
    container_name: db
    image: mariadb
    restart: always
    networks:
      - zoneminder
    volumes:
      - ./zm/db:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=zm
    env_file:
      - ./.env

  zoneminder:
    container_name: zoneminder
    image: hub.docker.com/baudneo/eventserver-base:testing
    restart: always
    stop_grace_period: 45s
    depends_on:
      - db
    ports:
      - "80:80"
      - "443:443"
      - "9000:9000"
    networks:
      - zoneminder
    volumes:
      - ./zm/data:/data
      - ./zm/config:/config
      - ./zm/log:/log
      - type: tmpfs
        target: /dev/shm
        tmpfs:
          size: 1000000000
    env_file:
      - ./.env
    environment:
       # ES 'hooks' needs this env var configured
       - PYZM_CONFPATH=/config
#      - ZM_SERVER_HOST=zoneminder1

networks:
  zoneminder:
